# Required dependencies for the NetZero SaaS Product
plotly
streamlit
numpy
reportlab
pandas
plotly
streamlit
numpy
python-pptx
requests
beautifulsoup4
matplotlib
seaborn
plotly.graph_objects 
networkx 
geopy.distance 
matplotlib.pyplot 
statsmodels.tsa.arima.model 
keras.models 
 keras.layers 
tensorflow 
scipy.spatial.distance  
datetime 
